.imoveis {
    padding: 48px 0 96px 0;

    h1 {
        margin: 0 0 24px 0;
        font: 700 32px/40px $font;

        @media (max-width: $mobile) {
            font-size: 25px;
        }
    }

    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }
}