.pp {

    &__content {
        padding: 0 0 48px 0;

        h3 {
            margin: 16px 0;
            font: 700 20px/26px $font;
        }

        p {
            margin: 0 0 16px 0;
        }
    }
}